.elements{
  margin: 0 auto;
  padding: 0;
  max-width: 882px;
  width: 88%;
  display: grid;
  grid-template-columns: repeat(auto-fit,282px);
  gap: 18px;
  justify-content: center;
  list-style: none;
}
@media only screen and (max-width: 756px) and (min-width: 426px){
  .elements{
    gap: 20px;
  }
}
@media only screen and (max-width: 425px){
  .elements{
    gap: 10px;
  }
}
