.button_type_avatar{
  width: 120px;
  height: 120px;
  margin: 0;
  overflow: hidden;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 3;
  background-image: url("../../../images/Vector.svg");
  background-size: 26px;
  background-color: #000;
  opacity: 1;
}
.button_type_avatar:hover .avatar{
  opacity: 0.2;

}
